language: python
cache:
  directories:
    - $HOME/usr/bin
python:
- '3.4'
node_js:
- 6
script:
- npm run-script build
notifications:
  slack: gruppe-adler:WUbRswFJEqy55XKuLhtXTlOf
  template:
  - "%{repository}#%{build_number} (%{branch} - %{commit} : %{author}): %{message}"
  - "Commit Title : %{commit_subject}"
  - "Commit details : %{commit_message}"
deploy:
  provider: releases
  api_key: "$GITHUB_ACCESS_TOKEN"
  file:
    - "bin/TvT_Dark_Business_Adleredition-${TRAVIS_TAG}.Altis.pbo"
  skip_cleanup: true
  on:
    tags: true
